<?xml version="1.0"?>

<launch>
	
	<param name="use_sim_time" value="true" />
	
	<node pkg="map_server" name="map_server" type="map_server" args="$(find worlds)/data/assignment3_map.yaml" />
	
	<node pkg="amcl" type="amcl" name="amcl" output="screen" >
		<param name="base_frame_id" value="base_link" />
		<param name="min_particles" value="1000" />
		<param name="max_particles" value="5000" />
		<param name="odom_alpha1" value="2" />
		<param name="odom_alpha2" value="2" />
	</node>
	
	<!-- move base -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" >
		<rosparam file="$(find robocluedo_robot_hunter)/param/costmap_common_params.yaml" command="load" ns="global_costmap"/>
		<rosparam file="$(find robocluedo_robot_hunter)/param/costmap_common_params.yaml" command="load" ns="local_costmap"/>
		<rosparam file="$(find robocluedo_robot_hunter)/param/local_costmap_params.yaml" command="load"/>
		<rosparam file="$(find robocluedo_robot_hunter)/param/global_costmap_params.yaml" command="load"/>
		<rosparam file="$(find robocluedo_robot_hunter)/param/base_local_planner_params.yaml" command="load"/>
		<rosparam file="$(find robocluedo_robot_hunter)/param/move_base_params.yaml" command="load"/>
	</node>

</launch>
