<?xml version="1.0"?>

<launch>
	<!-- <param name="cluedo_path_where" type="string" value="$(find robocluedo_armor)/config/cluedo_items/cluedo_where.txt" /> -->
	<!-- <param name="cluedo_path_what" type="string" value="$(find robocluedo_armor)/config/cluedo_items/cluedo_what.txt" /> -->
	<!-- <param name="cluedo_path_who" type="string" value="$(find robocluedo_armor)/config/cluedo_items/cluedo_who.txt" /> -->
	<!-- <param name="cluedo_max_hypotheses" type="int" value="15" /> -->
	
	<param name="cluedo_path_owlfile" type="string" value="$(find robocluedo_armor)/config/cluedo_owl_ontology/cluedo_ontology.owl" />
	<param name="cluedo_path_owlfile_backup" type="string" value="$(find robocluedo_armor)/config/cluedo_owl_ontology/last_ontology/cluedo_last_ontology.owl" />
</launch>
