<?xml version="1.0"?>
<launch>
	
<param name="des_pos_x" value="0.0" />
<param name="des_pos_y" value="0.0" />
<param name="des_yaw" value="0.0" />

<node pkg="robocluedo_movement_controller" name="go_to_point_service_m" type="go_to_point_service_m.py" required="true" output="screen" />
<node pkg="robocluedo_movement_controller" name="wall_follow_service_m" type="wall_follow_service_m.py" required="true" output="screen" />
<node pkg="robocluedo_movement_controller" name="head_orientation" type="head_orientation.py" required="true" output="screen" /> 
<node pkg="robocluedo_movement_controller" name="bug_m" type="bug_m.py" required="true" output="screen" />
<!--
-->

<!-- <include file="$(find robocluedo_robot)/launch/gazebo.launch" /> -->

</launch>
