<?xml version="1.0" ?>
<robot name="robocluedo_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <material name="neongreen">
        <color rgba="0.047058823529411764 1.0 0.047058823529411764 1.0" />
    </material>
    <material name="black">
        <color rgba="0.0 0.0 0.0 1.0" />
    </material>
    <material name="acidgreen">
        <color rgba="0.5607843137254902 0.996078431372549 0.03529411764705882 1.0" />
    </material>
    <material name="blue">
        <color rgba="0.203125 0.23828125 0.28515625 1.0" />
    </material>
    <material name="green">
        <color rgba="0.0 0.8 0.0 1.0" />
    </material>
    <material name="ocre">
        <color rgba="0.7764705882352941 0.611764705882353 0.01568627450980392 1.0" />
    </material>
    <material name="grey">
        <color rgba="0.2 0.2 0.2 1.0" />
    </material>
    <material name="bruise">
        <color rgba="0.49411764705882355 0.25098039215686274 0.44313725490196076 1.0" />
    </material>
    <material name="orange">
        <color rgba="1.0 0.423529411765 0.0392156862745 1.0" />
    </material>
    <material name="brown">
        <color rgba="0.870588235294 0.811764705882 0.764705882353 1.0" />
    </material>
    <material name="burgundy">
        <color rgba="0.3803921568627451 0.0 0.13725490196078433 1.0" />
    </material>
    <material name="dusk">
        <color rgba="0.3058823529411765 0.32941176470588235 0.5058823529411764 1.0" />
    </material>
    <material name="red">
        <color rgba="0.80078125 0.12890625 0.1328125 1.0" />
    </material>
    <material name="white">
        <color rgba="1.0 1.0 1.0 1.0" />
    </material>
    <gazebo reference="base_link">
        <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="link_left_wheel">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="link_right_wheel">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="link_a_left_wheel">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="link_a_right_wheel">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="arm_base_link">
        <material>Gazebo/Red</material>
    </gazebo>
    <gazebo reference="arm_link_01">
        <material>Gazebo/Red</material>
    </gazebo>
    <gazebo reference="arm_link_02">
        <material>Gazebo/Red</material>
    </gazebo>
    <gazebo reference="arm_link_03">
        <material>Gazebo/Red</material>
    </gazebo>
    <gazebo reference="arm_link_03">
        <material>Gazebo/Red</material>
    </gazebo>
    <gazebo reference="arm_link_04">
        <material>Gazebo/Red</material>
    </gazebo>
    <!--
    <gazebo reference="right_grip_link">
        <material>Gazebo/White</material>
    </gazebo>
    <gazebo reference="left_grip_link">
        <material>Gazebo/White</material>
    </gazebo>
    -->

</robot>
