<?xml version="1.0" ?>
<robot name="robocluedo_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="arm_joint_02">
        <provideFeedback>true</provideFeedback>
    </gazebo>
    
    <gazebo>
        <plugin filename="libgazebo_ros_ft_sensor.so" name="ft_sensor">
            <updateRate>100.0</updateRate>
            <topicName>ft_sensor_topic</topicName>
            <jointName>arm_joint_02</jointName>
        </plugin>
    </gazebo>
    
    <gazebo>
        <plugin filename="libgazebo_ros_diff_drive.so" name="differential_drive_controller">
            <legacyMode>true</legacyMode>
            <alwaysOn>true</alwaysOn>
            <updateRate>20</updateRate>
            <leftJoint>joint_right_wheel</leftJoint>
            <rightJoint>joint_left_wheel</rightJoint>
            <wheelSeparation>0.3</wheelSeparation>
            <wheelDiameter>0.2</wheelDiameter>
            <torque>0.1</torque>
            <commandTopic>cmd_vel</commandTopic>
            <odometryTopic>odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <robotBaseFrame>base_link</robotBaseFrame>
            <rosDebugLevel>na</rosDebugLevel>
            <publishWheelTF>true</publishWheelTF>
            <publishWheelJointState>true</publishWheelJointState>
            <wheelAcceleration>0</wheelAcceleration>
            <wheelTorque>5</wheelTorque>
            <odometrySource>1</odometrySource>
            <publishTf>1</publishTf>
        </plugin>
    </gazebo>

    
    <gazebo>
        <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
            <robotNamespace>m2wr</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
            <legacyModeNS>true</legacyModeNS>
        </plugin>
    </gazebo>
    
    
    
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
        </plugin>
    </gazebo>

</robot>
