<?xml version="1.0" ?>
<robot name="robocluedo_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
	
	<xacro:include filename="robocluedo_gazebo_materials.xacro" />
	
	<xacro:include filename="robocluedo_chassis.xacro" />
	<xacro:include filename="robocluedo_arm.xacro" />
	<xacro:include filename="robocluedo_arm_gripper.xacro" />
	
	<xacro:include filename="robocluedo_sensing.xacro" />
	<xacro:include filename="robocluedo_gazebo_sensing.xacro" />
	
	<xacro:include filename="robocluedo_gazebo_plugins.xacro" />
	<xacro:include filename="robocluedo_transmission.xacro" />
	
</robot>
