<!-- this script is meant to make direct tests on aRMOR -->

<launch>
	
	<include file="$(find robocluedo_armor)/config/parameters.launch"></include>
	
	<node pkg="armor" type="execute" name="armor_service" args="it.emarolab.armor.ARMORMainService" output="screen" required="true"/>
	<!-- <node pkg="robocluedo_module_testing" type="test_armor" name="test_armor" output="screen" required="true"></node> -->
	
</launch>
